@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #f5f5f5;
	margin: 0;
  position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: #ef6c00;
	text-decoration: none;
}
a:focus,
a:hover {
    color: #000a12;
    background-color: #ff9d3f;
    outline: 0.25rem solid #ff9d3f;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#footer {
  background-color: #1b1b1b;
  color: #ffffff;
  font-size: 0.875em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  text-align:center;
  display: flex;
}
nav h1 {
  margin: auto;
  padding: 0.5em 0;
  line-height: 1.5rem;
}
nav h1 a {
  color: #ffffff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 1rem;
    list-style: none;
    background-color: #424242;
    margin: 0;
    /* width: calc(50% - 80px); */
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    color: #ffffff;
    font-size: 1.25em;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 0.5rem;
    color: #ffffff;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #ff9d3f;
    text-decoration: none;
}

/* ====================== Map ====================== */
#map-container {
  flex: 100%;
}
#map {
  height: 45vh;
  width: 100%;
  background-color: #ccc;
}
img.leaflet-marker-icon:hover,
img.leaflet-marker-icon:focus {
  color: #000a12;
  background-color: #ff9d3f;
  outline: 0.25rem solid #ff9d3f;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #6d6d6d;
  align-items: center;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
}
.filter-options h2 {
  color: white;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1;
  margin: 0.5rem;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 0.5rem;
  padding: 0 0.5rem;
  width: 80%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 1rem 1rem 2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  font-weight: 700;
  margin: .5rem;
  min-height: 380px;
  padding: 1rem;
  text-align: left;
  max-width: 18em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #424242;
  font-family: Arial,sans-serif;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.25;
  margin: 20px 0 10px;
  text-transform: uppercase;
  min-block-size: 2.5em;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #ef6c00;
  border-bottom: 3px solid #b53d00;
  color: #000000;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1500;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  /* height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%; */
}
.inside #map {
  background-color: #ccc;
  height: 30vh;
  width: 100%;
}
/* .inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
} */
#restaurant-name, #reviews-container h2 {
  color: #424242;
  font-family: Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.25;
  margin-bottom: 1rem;
}
#restaurant-img {
  max-width: 100%;
  min-width: 100%;
}
#restaurant-address, #restaurant-hours {
  padding-bottom: 1rem;
}
#restaurant-address {
  text-align: center;
  border-bottom: 1px solid #ddd;
}
#restaurant-hours {
  text-align: left;
  margin: 0 auto;
}
#restaurant-hours td {
  vertical-align: top;
  padding-bottom: 0.5rem;
}
#restaurant-hours tr td:first-child {
  padding-right: 0.75rem;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  margin: 1rem;
}
#reviews-container {
  flex: 1 1 24em;
  max-width: 33em;
}
#restaurant-container {
  border-bottom: 1px solid #ddd;
  flex: 1 1 18em;
  max-width: 40em;
}
/* #reviews-container h2 {
  color: #f58500;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 0;
} */
#reviews-list {
  margin: 0;
  padding: 0;
  flex: 1 1 22em;
  max-width: 40em;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 1rem;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  min-width: 18em;
}
#reviews-list li p {
  margin: 0 0 0.25rem;
  font-weight: 600;
  font-size: 1.125em;
}
#reviews-list li p:last-of-type {
  margin: 0.75rem 0 0;
  font-weight: 200;
  line-height: 1.75;
}
#restaurant-hours td {
  color: #666;
}

/* ====================== Media Queries ====================== */

@media screen and (min-width: 35em) {
  .filter-options {
    flex-direction: row;
  }
  .filter-options select {
    width: 11rem;
  }
}
@media screen and (min-width: 120em) {
  #map-container {
    flex: 1;
    margin-right: 1rem;
  }
  .inside #map {
    height: 100vh;
  }
}